@import url('./fonts.css');
@import url('./psevdo_el_and_class.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./new_start.css');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #1A1A25;
}

main {
    background-color: #ECECEC;
    max-width: 1920px;
    margin: 0 auto;
}

.all_content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.first_box {
    border-radius: 10px;
    background: linear-gradient(to right, rgba(226, 201, 202, 1), rgba(134, 134, 134, 0.5), rgba(207, 161, 162, 0.7));
    margin-bottom: 100px;
}

.disc_for_new {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background-color: #ECECEC;
    background-image: url('/images/right-arrow.png');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
}

.first_arrow {
    background-image: url('/images/left-arrow.png');
}

.main_in_disc {
    display: flex;
    align-items: center;
    column-gap: 60px;
    flex-wrap: wrap;
    flex-shrink: 10;
    justify-content: center;
}

.disc_text {
    max-width: 450px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: 700;
    margin: 50px 0;
    font-size: 32px;
}

.first_red {
    color: #BD2A2E;
    font-size: 22px;
}

.second_red {
    color: #BD2A2E;
    font-weight: 900;
}

.third_red {
    color: #BD2A2E;
    text-decoration: none;
}

.protein_man {
    max-width: 400px;
}

.topic_of_box {
    margin: 0;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.after_tranform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop_product {
    display: grid;
    grid-template: repeat(2, 235px)/repeat(4, 280px);
    column-gap: 26px;
    row-gap: 26px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.first_grid {
    grid-column: 1;
    grid-row: 1/3;
}

.second_grid {
    grid-column: 2;
    grid-row: 1/3;
}

.third_grid {
    grid-column: 3/4;
    grid-row: 1;
}

.f_grid {
    grid-column: 4;
}

.fi_grid {
    grid-column: 3;
    grid-row: 2/3;
}

.s_grid {
    grid-column: 4;
    grid-row: 2/3;
}

.last {
    background-color: #E6DDDE;
    border-radius: 10px;
    position: relative;
}

.prop {
    background-color: #E6DDDE;
    border-radius: 10px;
    position: relative;
}

.link_for_box {
    display: inline-block;
    width: 280px;
    height: 499px;
    text-decoration: none;
}

.small_box_link {
    height: 235px;
}

.text_in_grid {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: black;
    display: inline-block;
}

.text_prop {
    margin: 0px 6px;
}

.first_img {
    height: 350px;
    width: 220px;
    display: inline-block;
    margin: 30px;
}

.third_img {
    width: 240px;
    display: inline-block;
    margin: 20px;
}

.four_img {
    width: 240px;
    height: 190px;
    display: inline-block;
    margin: 5px 20px 0;
}

.fi_img {
    width: 220px;
    display: inline-block;
    margin: 5px 30px 0;
}

.s_img {
    width: 220px;
    display: inline-block;
    margin: 10px 30px 7px;
}

.sets {
    display: flex;
    column-gap: 26px;
    row-gap: 26px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
}

.sets_area {
    border-radius: 10px;
    background-color: #E6DDDE;
    width: 280px;
    height: 360px;
    position: relative;
}

.sets_area_link {
    height: 360px;
}

.sets_prop {
    width: 250px;
    height: 253px;
    display: inline-block;
    margin: 15px;
}

.stocks_block {
    display: flex;
    column-gap: 51px;
    row-gap: 51px;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.in_stock {
    width: 366px;
    height: 440px;
}

.stock_prop {
    width: 316px;
    height: 316px;
    margin: 25px 25px 10px;
    display: inline-block;
}

.text_in_stock {
    width: 346px;
    display: inline-block;
    padding-left: 15px;
    position: relative;
}

.stock {
    width: 180px;
}

.plus_in_stock {
position: absolute;
top: 8%;
left: 57%;
}

.text_in_span_instock {
    position: absolute;
    left: 70%;
    top: 25%;
}

.plus {
    color: #BD2A2E;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.shake {
    font-size: 26px;
    margin-bottom: 70px;
}

.margin {
    margin-top: 100px;
    margin-bottom: 50px;
}

.review_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 30px;
}

.review_text {
    max-width: 600px;
    font-size: 26px;
    margin: 0;
    font-family: 'Inter';
    font-weight: 500;
    text-align: justify;
}

.review_img {
    max-height: 635px;
    border-radius: 10px;
}

.second_text {
    margin-top: 15px;
}

.sixth_box {
    max-width: 1920px;
    margin: 100px auto 0;
    background-color: #1A1A25;
}

.comment_topic {
    color: #ECECEC;
    padding: 50px 0;
}

.comment_block {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    column-gap: 51px;
    row-gap: 51px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: center;
}

.comment_area {
    width: 366px;
    height: 340px;
    border-radius: 10px;
    background-color: #ECECEC;
    position: relative;
}

.first_part_com {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    column-gap: 20px;
}

.img_com {
    height: 86px;
}

.name_com {
    font-size: 21px;
}

.main_text_com {
    margin: 0 auto;
    width: 310px;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
}

.data_com {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    margin: 15px 25px 10px;
    color: #BD2A2E;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.new_start {
    padding: 0;
}

.feedback_telephone {
    height: 285px;
}

@media all and (max-width:1260px) {
    .pop_product {
        grid-template: repeat(4, 235px)/repeat(2, 280px);
    }

    .third_grid {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .f_grid {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .fi_grid {
        grid-column: 1;
        grid-row: 4/5;
    }

    .s_grid {
        grid-column: 2;
        grid-row: 4/5;
    }
}

@media all and (max-width: 1200px) {
    .arrow {
    margin: 0 10px;
    }
}

@media all and (max-width: 630px) {
    .pop_product {
        grid-template: repeat(2, 180px) repeat(2, 190px)/repeat(2, 224px);
        column-gap: 12px;
        row-gap: 12px;
    }

    .link_for_box {
    width: 224px;
    height: 392px;
}

.small_box_link {
    height: 190px;
}

.first_img {
    height: 294px;
    width: 164px;
    display: inline-block;
    margin: 30px 30px 10px;
}

.size_after_transform {
    font-size: 12px;
}

.text_prop {
    margin: 13px 16px;
}

.third_img {
    width: 184px;
    display: inline-block;
    margin: 20px;
}

.four_img {
    width: 183px;
    height: 134px;
}

.fi_img {
    width: 163px;
}

.s_img {
    width: 163px;
}

.first_grid .link_for_box::after,
.second_grid .link_for_box::after,
.third_grid a::after,
.f_grid a::after,
.fi_grid a::after,
.s_grid a::after  {
    width: 224px;
    height: 372px;
}

.third_grid a::after,
.f_grid a::after,
.fi_grid a::after,
.s_grid a::after {
    height: 190px;
}

.first_grid .link_for_box:hover::after,
.second_grid .link_for_box:hover::after,
.third_grid a:hover::after,
.f_grid a:hover::after,
.fi_grid a:hover::after,
.s_grid a:hover::after {
    background-size: 220px;
}
}

@media all and (max-width:620px) {
    .map {
        width:450px;
        height:393px;
    }
}

@media all and (max-width:605px) {
    .disc_text {
        font-weight: 700;
        max-width: 320px;
        font-size: 24px;
    }

    .protein_man {
        max-width: 300px;
    }

    .arrow {
        width: 40px;
        height: 40px;
        background-size: 22px;
    }
}

@media all and (max-width: 550px) {
    .review_img {
        max-height: 565px;
    }

    .review_text {
        font-size: 20px;
    }
}