.dot_divider {
    width: 479px;
}

.dot_divider2 {
    width: 558px;
}

.dot_divider3 {
    width: 469px;
}

.dot_divider4 {
    width: 478px;
}

.dot_divider5 {
    width: 539px;
}

.dot_divider6 {
    width: 398px;
}