.discription_of_product_all div img {
    width: 350px;
}

.div_with_img {
    padding-left: 50px;
}

.dot_divider {
    width: 478px;
}

.dot_divider2 {
    width: 559px;
}

.dot_divider3 {
    width: 493px;
}

.dot_divider4 {
    width: 495px;
}

.dot_divider5 {
    width: 547px;
}

.dot_divider6 {
    width: 398px;
}