.discription_of_product_all div img {
    width: 370px;
}

.div_with_img {
    padding-left: 10px;
}

.dot_divider {
    width: 478px;
}

.dot_divider2 {
    width: 557px;
}

.dot_divider3 {
    width: 221px;
}

.dot_divider4 {
    width: 517px;
}

.dot_divider5 {
    width: 547px;
}

.dot_divider6 {
    width: 405px;
}

.span_text_dis {
    padding-left: 220px;
}