.discription_of_product_all div img {
    width: 350px;
    height: 330px;
}

.div_with_img {
    padding-left: 50px;
}

.dot_divider {
    width: 482px;
}

.dot_divider2 {
    width: 556px;
}

.dot_divider3 {
    width: 330px;
}

.dot_divider4 {
    width: 497px;
}

.dot_divider5 {
    width: 547px;
}

.dot_divider6 {
    width: 398px;
}

.size_150gr {
    font-size: 21.4px;
}